.icon-my_accept{background:url('icons/myicon/accept.png') no-repeat center center;}
.icon-my_add{background:url('icons/myicon/add.png') no-repeat center center;}
.icon-my_addressbook{background:url('icons/myicon/addressbook.png') no-repeat center center;}
.icon-my_alarm{background:url('icons/myicon/alarm.png') no-repeat center center;}
.icon-my_alert{background:url('icons/myicon/alert.png') no-repeat center center;}
.icon-my_anchor{background:url('icons/myicon/anchor.png') no-repeat center center;}
.icon-my_any{background:url('icons/myicon/any.png') no-repeat center center;}
.icon-my_application{background:url('icons/myicon/application.png') no-repeat center center;}
.icon-my_application_delete{background:url('icons/myicon/application_delete.png') no-repeat center center;}
.icon-my_applicationadd{background:url('icons/myicon/applicationadd.png') no-repeat center center;}
.icon-my_applicationdelete{background:url('icons/myicon/applicationdelete.png') no-repeat center center;}
.icon-my_area{background:url('icons/myicon/area.png') no-repeat center center;}
.icon-my_arrow_divide{background:url('icons/myicon/arrow_divide.png') no-repeat center center;}
.icon-my_arrow_inout{background:url('icons/myicon/arrow_inout.png') no-repeat center center;}
.icon-my_bell{background:url('icons/myicon/bell.png') no-repeat center center;}
.icon-my_blueprint{background:url('icons/myicon/blueprint.png') no-repeat center center;}
.icon-my_bomb{background:url('icons/myicon/bomb.png') no-repeat center center;}
.icon-my_book_next{background:url('icons/myicon/book_next.png') no-repeat center center;}
.icon-my_book_open{background:url('icons/myicon/book_open.png') no-repeat center center;}
.icon-my_book_previous{background:url('icons/myicon/book_previous.png') no-repeat center center;}
.icon-my_bookmark{background:url('icons/myicon/bookmark.png') no-repeat center center;}
.icon-my_box{background:url('icons/myicon/box.png') no-repeat center center;}
.icon-my_colors{background:url('icons/myicon/colors.png') no-repeat center center;}
.icon-my_comments{background:url('icons/myicon/comments.png') no-repeat center center;}
.icon-my_controller{background:url('icons/myicon/controller.png') no-repeat center center;}
.icon-my_css{background:url('icons/myicon/css.png') no-repeat center center;}
.icon-my_cut{background:url('icons/myicon/cut.png') no-repeat center center;}
.icon-my_daycheckrule{background:url('icons/myicon/daycheckrule.png') no-repeat center center;}
.icon-my_debugrule{background:url('icons/myicon/debugrule.png') no-repeat center center;}
.icon-my_del{background:url('icons/myicon/del.png') no-repeat center center;}
.icon-my_disk{background:url('icons/myicon/disk.png') no-repeat center center;}
.icon-my_doucment{background:url('icons/myicon/doucment.png') no-repeat center center;}
.icon-my_down{background:url('icons/myicon/down.png') no-repeat center center;}
.icon-my_dpmap{background:url('icons/myicon/dpmap.png') no-repeat center center;}
.icon-my_duc{background:url('icons/myicon/duc.png') no-repeat center center;}
.icon-my_edit{background:url('icons/myicon/edit.png') no-repeat center center;}
.icon-my_eq{background:url('icons/myicon/eq.png') no-repeat center center;}
.icon-my_eqabc{background:url('icons/myicon/eqabc.png') no-repeat center center;}
.icon-my_eqadd{background:url('icons/myicon/eqadd.png') no-repeat center center;}
.icon-my_eqdel{background:url('icons/myicon/eqdel.png') no-repeat center center;}
.icon-my_eqedit{background:url('icons/myicon/eqedit.png') no-repeat center center;}
.icon-my_eqerr{background:url('icons/myicon/eqerr.png') no-repeat center center;}
.icon-my_eqmove{background:url('icons/myicon/eqmove.png') no-repeat center center;}
.icon-my_excel{background:url('icons/myicon/excel.png') no-repeat center center;}
.icon-my_exit{background:url('icons/myicon/exit.png') no-repeat center center;}
.icon-my_help{background:url('icons/myicon/help.png') no-repeat center center;}
.icon-my_icons{background:url('icons/myicon/icons.png') no-repeat center center;}
.icon-my_key{background:url('icons/myicon/key.png') no-repeat center center;}
.icon-my_left{background:url('icons/myicon/left.png') no-repeat center center;}
.icon-my_line{background:url('icons/myicon/line.png') no-repeat center center;}
.icon-my_lock{background:url('icons/myicon/lock.png') no-repeat center center;}
.icon-my_magnifier{background:url('icons/myicon/magnifier.png') no-repeat center center;}
.icon-my_man{background:url('icons/myicon/man.png') no-repeat center center;}
.icon-my_marker{background:url('icons/myicon/marker.png') no-repeat center center;}
.icon-my_menu{background:url('icons/myicon/menu.png') no-repeat center center;}
.icon-my_menugroup{background:url('icons/myicon/menugroup.png') no-repeat center center;}
.icon-my_menumanage{background:url('icons/myicon/menumanage.png') no-repeat center center;}
.icon-my_message{background:url('icons/myicon/message.png') no-repeat center center;}
.icon-my_money{background:url('icons/myicon/money.png') no-repeat center center;}
.icon-my_msginfo{background:url('icons/myicon/msginfo.png') no-repeat center center;}
.icon-my_nuclear{background:url('icons/myicon/nuclear.png') no-repeat center center;}
.icon-my_oilrule{background:url('icons/myicon/oilrule.png') no-repeat center center;}
.icon-my_online{background:url('icons/myicon/online.png') no-repeat center center;}
.icon-my_openarea{background:url('icons/myicon/openarea.png') no-repeat center center;}
.icon-my_phone{background:url('icons/myicon/phone.png') no-repeat center center;}
.icon-my_plugin{background:url('icons/myicon/plugin.png') no-repeat center center;}
.icon-my_public{background:url('icons/myicon/public.png') no-repeat center center;}
.icon-my_repairrule{background:url('icons/myicon/repairrule.png') no-repeat center center;}
.icon-my_right{background:url('icons/myicon/right.png') no-repeat center center;}
.icon-my_role{background:url('icons/myicon/role.png') no-repeat center center;}
.icon-my_roleadd{background:url('icons/myicon/roleadd.png') no-repeat center center;}
.icon-my_root{background:url('icons/myicon/root.png') no-repeat center center;}
.icon-my_searckkey{background:url('icons/myicon/searckkey.png') no-repeat center center;}
.icon-my_selectup{background:url('icons/myicon/selectup.png') no-repeat center center;}
.icon-my_systemset{background:url('icons/myicon/systemset.png') no-repeat center center;}
.icon-my_table{background:url('icons/myicon/table.png') no-repeat center center;}
.icon-my_trophy{background:url('icons/myicon/trophy.png') no-repeat center center;}
.icon-my_up{background:url('icons/myicon/up.png') no-repeat center center;}
.icon-my_user{background:url('icons/myicon/user.png') no-repeat center center;}
.icon-my_weather_sun{background:url('icons/myicon/weather_sun.png') no-repeat center center;}
.icon-my_webcam{background:url('icons/myicon/webcam.png') no-repeat center center;}
.icon-my_world{background:url('icons/myicon/world.png') no-repeat center center;}
