
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>多地登录错误</title>
</head>
<body>
    <div style="width:100%;text-align:center">
      <span style="color:red;font-size:12pt;width:100%;text-align:center">你已经在其它客户端登录.....</span>  
    </div>
</body>
</html>